# Logs y depuracion
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dependencias (si se anaden tooling / bundlers)
node_modules/
dist/
build/
.cache/

# Entorno y credenciales
.env
.env.local
.env.*.local

# Vercel
.vercel

# Sistema operativo
.DS_Store
Thumbs.db
*.tmp
*.bak

# IDEs y Editores
.vscode/
.idea/
*.swp
*.swo
